<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="3">

    <listeners>
        <listener class-name="Listeners_Test.listeners"/>
    </listeners>

    <test name="TestSuite">
        <classes>
            <class name="EndtoEndTest.TC_EtoE"/>
        </classes>
    </test>

</suite>
